* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h2 {
  color: red;
}

header {
  padding: 20px 100px;
  background-color: rgb(128, 128, 120);
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

li > a {
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
}
